{{ define "head-extra" }}
<style>
    .row {
        margin: 0 auto;
        padding-bottom: 70px;
        position: relative;
    }
    .row .errors {
        position: absolute;
        right: 0;
        left: 0;
    }
    .row input {
        margin-left: 0 !important;
        margin-bottom: 0 !important;
    }

    #points i {
        font-size: 5em;
        width: 1.3em;
        height: 1.3em;
        line-height: 1.3em;
        margin-bottom: 1rem;
    }
</style>
{{ end }}

{{ define "main" }}

<div class="uk-grid" data-uk-grid-margin>
    <div id="fold" class="uk-width-medium-1-1">
        <div class="uk-vertical-align uk-text-center uk-block uk-block-muted uk-block-large">
            <div class="uk-vertical-align-middle uk-width-9-10 uk-width-small-1-2">
                <form action="#">
                    <div class="row">
                        <input type="text" id="inputBox">
                    </div>
                </form>
                <p>
                    <a class="uk-button uk-button-primary uk-button-large" href="download">Download</a>
                    <a class="uk-button uk-button-large" href="docs/getting-started">Docs</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div id="points" class="uk-grid uk-grid-large uk-text-center uk-grid-width-medium-1-3 uk-grid-width-small-1-2" data-uk-margin="{cls:'uk-margin-large-top'}">
    {{ range .Site.Data.home }}
    <div>
        <div class="uk-grid">
            <div class="uk-width-1-1">
                <i class="uk-icon-{{ .icon }} uk-text-primary"></i>
            </div>
            <div class="uk-width-1-1">
                <h2 class="uk-h3">{{ .heading }}</h2>
                <p>{{ .text | markdownify }}</p>
            </div>
        </div>
    </div>
    {{ end }}
</div>


<script type="text/javascript">
    var text = 'Simplicity';

    LiveValidator.Tester.prototype.key = function( val ) {
        if ( val != text ) {
            this.addError( 'What is key?' );
        }
    };
    LiveValidator.Tester.prototype.isAlpha = function( val ) {
        if ( !/^[a-zA-Z]+$/.test( val ) ) {
            this.addError( 'Should only contain alphabeticals' );
        }
    };

    var updateTimeout;
    var restartTimeout;
    var input = document.getElementById( 'inputBox' );
    var validator = input.getLiveValidator( { checks: [ 'key', 'isAlpha' ] } );
    var eventInput = new Event( 'input' );

    function updateValue() {
        var val = input.value;
        var index = text.indexOf( val );
        var newValue = '';
        var timeout = 450;

        if (val === text + 2 ) {
            newValue = '';
            timeout = 1500;
        } else if ( index !== 0 ) {
            newValue = text[ 0 ];
        } else if ( val === text ) {
            newValue = text + 2;
            timeout = 4000;
        } else {
            newValue = val + text[ val.length ];
        }

        if ( newValue === text ) {
            timeout = 1400;
        }
        input.value = newValue;
        input.dispatchEvent(  eventInput );
        updateTimeout = window.setTimeout( updateValue, timeout );
    }

    input.addEventListener( 'focus', function() {
        window.clearTimeout( updateTimeout );
    } );
    input.addEventListener( 'keydown', function() {
        window.clearTimeout( updateTimeout );
    } );
    input.addEventListener( 'blur', function() {
        restartTimeout = window.setTimeout( updateValue, 5000);
    } );

    updateValue();
</script>
{{ end }}
