//
// Component: Grid
//
// ========================================================================


// Variables
// ========================================================================

@grid-gutter-horizontal:                        @global-grid-gutter;
@grid-gutter-vertical:                          @global-grid-gutter;

@grid-gutter-large-horizontal:                  @global-grid-gutter-large;
@grid-gutter-large-vertical:                    @global-grid-gutter-large;

@grid-gutter-xlarge-horizontal:                 @global-grid-gutter-xlarge;
@grid-gutter-xlarge-vertical:                   @global-grid-gutter-xlarge;

@grid-divider-border:                           @global-border;


// Miscellaneous
// ========================================================================

.hook-grid-misc() {}
