<nav class="uk-navbar uk-navbar-attached uk-margin-large-bottom" data-uk-sticky>
    <div class="uk-container uk-container-center">
        <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
        <a class="uk-navbar-brand" href="{{ .Site.BaseURL}}">
            <svg viewBox="-2 -2 31 41">
                <path d="m1.02 0h5.2l.680 18.7-6.81 7.06z" fill="#2ac5d5"/>
                <path d="m20.1 18.7v7.06h-20.2l6.81-7.06z" fill="#35b3ee"/>
                <path id="v" d="m16.6 28.6-2.06 2.24 9.05 5.17 3.08-1.78.0526-10.4-2.97.669-.927 6.65z" fill="#85dee7"/>
            </svg>
            <span class="uk-visible-small">{{ .Title }}</span>
        </a>
        <ul class="uk-navbar-nav uk-hidden-small">
            <!-- For normal menu items -->
            {{- range .Site.Menus.main }}
                {{- if .HasChildren }}
                <li class="{{ if or ($.IsMenuCurrent "main" .) ($.HasMenuCurrent "main" .) }}uk-active {{ end }}uk-parent" data-uk-dropdown>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                    <div class="uk-dropdown uk-dropdown-navbar">
                        <ul class="uk-nav uk-nav-navbar">
                            {{- range .Children }}
                            <li{{ if $.IsMenuCurrent "main" . }} class="uk-active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
                            {{- end }}
                        </ul>
                    </div>
                </li>
                {{- else }}
                <li{{ if $.IsMenuCurrent "main" . }} class="uk-active"{{ end }}><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{- end }}
            {{- end }}
        </ul>
    </div>
</nav>
