<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {{ .Hugo.Generator }}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Param "description" }}">

    {{- if .IsHome }}
    <title>{{ .Title }}</title>
    {{- else }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
    {{- end }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/prism.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}js/uikit.min.js" charset="utf-8"></script>
    <script src="{{ .Site.BaseURL }}js/prism.min.js" charset="utf-8"></script>
    <script src="{{ .Site.BaseURL }}dist/js/livevalidator.min.js" charset="utf-8"></script>
    <script src="{{ .Site.BaseURL }}dist/js/tester/html5.min.js" charset="utf-8"></script>

    {{ if eq ($.Param "theme") "Default" }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}dist/css/themes/Default.min.css">
    {{ end }}
    <script src="{{ .Site.BaseURL }}dist/js/themes/{{ $.Param "theme" }}.min.js" charset="utf-8"></script>

    {{- block "head-extra" . }}
    {{- end }}
    <link rel="stylesheet" href="{{ .Site.BaseURL }}css/uikit.min.css">
</head>
<body>
    {{ partial "nav-top" . }}

    <div class="uk-container uk-container-center">
    {{- block "main" . }}
    {{- end }}
    </div>

    <hr class="uk-grid-divider">
    <div class="uk-grid uk-margin-bottom uk-text-center">
            <i class="uk-icon-code-fork"></i> Fork me on <a href="https://gitlab.com/LiveValidator">Gitlab</a> |  <i class="uk-icon-copyright"></i> Pieter Engelbrecht 2017. Released under the MIT license.
        <div class="uk-width-1-1">
        </div>
    </div>

    {{ partial "nav-offcanvas" . }}
</body>
</html>
