{{ define "head-extra" }}

{{- $base := .Site.BaseURL }}
{{- with .Params.preview }}
    {{- with .css }}
    <link rel="stylesheet" href="{{ $base }}preview/themes/{{ . }}.min.css">
    {{ end }}
    {{- with .js -}}
    <script src="{{ $base }}preview/themes/{{ . }}.min.js" charset="utf-8"></script>
    {{- end -}}
{{ end }}
{{ end }}

{{ define "main" }}
{{ $theme := .Params.theme }}
<div class="uk-grid">
    <div class="uk-width-1-1">
        <h1 class="uk-heading-large uk-margin-small-bottom">{{ .Title }}</h1>
        <p class="uk-text-muted uk-margin-small-top">Name: LiveValidator.themes.{{ $theme }}</p>
    </div>
</div>

<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        {{ .Content }}

        <h2>Theme Data <small class="uk-text-muted">With defaults</small></h2>

        <dl class="uk-description-list-horizontal">
            {{ range $option, $data := .Params.options }}
                <dt>{{ $option }}</dt>
                <dd class="uk-text-muted">Default: {{ $data.default }}</dd>
                <dd class="uk-margin-bottom">{{ $data.description }}</dd>
            {{ end }}
        </dl>
    </div>
    <div class="uk-width-medium-1-2">
        <h2 class="uk-margin-top-remove">Preview</h2>
        {{ .Params.form | safeHTML }}
        <script type="text/javascript">
        var form = document.getElementsByTagName( 'form' );
        var validationGroup = form.getLiveValidator( { theme: LiveValidator.themes[{{ $theme }}] } );

        form[0].addEventListener( 'submit', function( e ) {
            e.preventDefault();
            validationGroup.isValid();
        } );
        </script>
    </div>
</div>
{{ end }}
